.green {
    border-right: 5px solid green;
}

.red {
    border-right: 5px solid rgb(172, 16, 16);
}

.TransactionList {
    height: auto;
    padding: 5px;
    width: 95%;
    background-color: rgb(16, 37, 133)  ;
    box-shadow: 10px 10px 28px -18px rgba(0, 0, 0, 0.75);
    color: white;
    font-weight: 500;
}

li {
    height: auto;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    box-shadow: 10px 10px 28px -18px rgba(0, 0, 0, 0.75);
    background-color: white;
    margin-top:6px;
    color:gray;
    font-weight: 500;
    width: 95%;
    text-align: left;
    list-style-type: none;
}
.amount{
    float:right
}
.Hint{
    color: black;
    background-color: rgb(255, 222, 35);
    border-right: 5px solid black
}